@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar-bg-img {
  background-image: url('../assets/images/bg-sidebar-desktop.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}